body {
    background-image: url(../images/vector3.png);
    color: black;
}

div.container {
    display: flex;
    justify-content: space-around;
}

div.blog {
    width: 75%;
    text-align: justify;
}

h1 {
    width: max-content;
    margin: 1rem auto;
    font-size: 3.5rem;
    text-shadow: 2px 2px 5px grey;
    transition: 0.5s all linear;
    background-color: white;
    padding: 1rem 2rem;
    border: 2px solid #00a3ec;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}

h1:hover {
    letter-spacing: 0.5rem;
    background-color: #d8f3ff;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 1.5rem;
}

main {
    width: 80vw;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

article a {
    text-decoration: none;
    color: #00a3ec;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

article a:hover {
    color: black;
}

article {
    padding: 1rem;
    box-shadow: 0.5px 0.5px 5px grey;
    background-color: white;
    margin-bottom: 1rem;
    transition: 1s all linear;
    background-color: white;
}

div.newsletter {
    width: 35%;
    margin-left: 3rem;
    font-size: 1rem;
    box-shadow: 0.5px 0.5px 5px grey;
    background-color: white;
    align-self: flex-start;
    padding: 0.5rem 1.5rem;
    text-align: justify;
    position: sticky;
    top: 0;
}

article:hover {
    background-color: #e9f8ff;
}

div.newsletter input {
    border: 2px solid #00a3ec;
    border-radius: 5px;
    padding: 0.3rem 2rem 0.3rem 0.3rem;
    margin-right: 0.5rem;
    font-family: cambria;
    font-size: 1rem;
    background-color: white;
}

div.newsletter input:focus {
    background-color: #e9f8ff;
}

div.newsletter form {
    padding-bottom: 2rem;
}

div.newsletter p {
    line-height: 1.4rem;
}

div.newsletter button {
    border: 0;
    border-radius: 10px;
    padding: 0.3rem;
    background-color: #00a3ec;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
}

div.newsletter button:hover {
    background-color: black;
}

span.privola {
    font-size: 0.8rem;
}

.nextpage {
    display: flex;
    width: 70%;
    justify-content: center;
    font-size: 1rem;
}

.nextpage div {
    padding: 15px;
    margin: 15px;
    box-shadow: 0.5px 0.5px 5px grey;
    color: #00a3ec;
}

.nextpage div:hover {
    background-color: #00a3ec;
    color: white;
}

.nextpage div:nth-child(2) {
    background-color: #00a3ec;
    color: black;
}

.nextpage .fa-solid {
    font-size: 0.6rem;
    color: black;
}

div[data-status="disabled"] {
    background-color: rgb(213, 213, 213);
    color: grey;
    cursor: not-allowed;
}

div[data-status="disabled"]:hover {
    color: grey;
    background-color: lightgrey;
}

@media screen and (max-width: 768px) {
    div.container {
        display: flex;
        flex-direction: column;
    }

    div.newsletter {
        order: 2;
        width: 70%;
    }

    div.blog {
        width: 100%;
    }
}

@media screen and (max-width: 420px) {
    div.newsletter input {
        padding-right: 0;
        font-size: 0.8rem;
    }

    div.newsletter {
        margin: 0;
    }
}
