
main {
    background-image: url(../images/output-onlinepngtools3.png);
    font-family: cambria;
    font-size: 1.3rem;
}

h1 {
    font-size: 3rem;   
    text-align: center;
    transition: 1s all linear;
    text-shadow: 2px 2px 2px grey;
    font-family: 'Merriweather', sans-serif;

}

h1:hover {
    letter-spacing: 1rem;
}

div.container {
    display: flex;
    justify-content: space-around;
}

img {
    max-width: 500px;
    transition: 1s all ease-in;
}

img:hover {
    transform: scale(1.5);
}

div.form span {
    font-size: 0.8rem;
}

div.contact span {
    font-weight: 800;
}

input {
    padding: 0.5rem 7rem 0.5rem 0.5rem;
    margin-top: 0.5rem;
}

textarea {
    font-family: cambria;
    font-size: 1.3rem;
    margin-top: 0.5rem;
}

input, textarea {
    border: 1px solid grey;
    border-radius: 5px;
}

input:focus, textarea:focus {
    background-color: #e6e6fb;
}

button {
    border: 0;
    padding: 0.5rem;
    font-size: 1rem;
    background-color: #6363e8;
    color: white;
    font-family: cambria;
    font-size: 1.2rem;
    transition: 0.3s all ease;
    margin-bottom: 2rem;
}

button:hover {
    background-color: rgb(252, 252, 175);
    color: black;
}

div.form, div.contact {
    box-shadow: 0.5px 0.5px 5px grey;
    background-color: white;
    margin-bottom: 1rem;
    padding: 1.5rem;
}

div.contact {
    align-self: flex-start;
}

.contactsocial {
    display: flex;
}

.contactsocial li {
    list-style-type: none;
    margin: 1rem 0.8rem 0;
}

@media screen and (max-width: 1024px) {
    div.container {
        font-size: 1rem;
        display: flex;
        flex-direction: column;
    }

    img {
        width: 400px;
    }

    div.form {
        order: 2;
        width: 50%;
        margin: 0 auto;
    }

    div.contact {
        order: 1;
        width: 50%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 800px) {

    .contact img {
        width: 50vw;
    }

    textarea {
        width: 50vw;
    }

    .form input {
        width: 100px;
    }

    .contactsocial {
        padding: 0;
    }

    .contactsocial li {
        margin: 0 0;
    }
}


@media screen and (max-width: 500px) {
    .contactsocial {
        display: flex;
        flex-direction: column;
    }
}


@media screen and (max-width: 320px) {
    h1 {
        font-size: 1.5rem;
    }

    input {
        padding: 0;
    }

    textarea {
        width: 200px;
    }
}
