body {
    margin: 0;
}

.wholefooter {
    background-color: rgb(180, 178, 178);
    font-family: 'Montserrat', sans-serif;
}

.footerrow1 {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footerrow2 {
    text-align: right;
    font-size: 0.8rem;
    padding: 0.5rem;
}

.mapa a {
    text-decoration: none;
    color: #2626e2;
}

.mapa a:hover {
    color: white;
}

.kontakt ul {
    padding: 0;
}

div.lokacija {
    align-self: center;
}

.kontakt li {
    padding: 0.3rem 0;
    list-style-type: none;
}

iframe {
    width: 400px; 
    height: 250px; 
    border: 0;
}

@media screen and (max-width: 400px) {
    .lokacija iframe {
        width: 300px;
    }
}