
<section class="wholeheader">
    <div class="firstrow">
        <div class="mail"><a href="mailto: cyber@shop.com" class="mail">cyber@shop.com</a></div>
        <div class="tel"><a href="tel: 0912345678" class="tel">091/234-5678</div>
        <div class="socmed">
            <ul class="socialmedia">
                <li><a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook" alt="facebook" title="Facebook"></i></a></li>
                <li><a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram" alt="instagram" title="Instagram"></i></a></li>
                <li><a href="https://www.twitter.com" target="_blank"><i class="fa-brands fa-twitter" alt="twitter" title="Twitter"></i></a></li>
                <li><a href="https://www.tiktok.com" target="_blank"><i class="fa-brands fa-tiktok" alt="tiktok" title="Tiktok"></i></a></li>
                <li><a href="https://www.youtube.com" target="_blank"><i class="fa-brands fa-youtube" alt="youtube" title="Youtube"></i></a></li>
            </ul>
        </div>
        <div class="search">
            <form>
                <input type="text" placeholder="Pretražite stranicu" name="search" class="searchsite"> <button
                type="submit" class="searchsite"><i class="fa-solid fa-magnifying-glass" class="search" alt="pretraži" title="Traži"></i></button>
            </form>
        </div>
        <div class="cart">
            <a href="cart.html" target="_parent"><i class="fa-solid fa-cart-shopping" class="cart" alt="košarica" title="Košarica"></i></a>
        </div>
    </div>

    <div class="secondrow"> 
        <div class="logo">
            <a href="index.html" target="_parent"><img src="images/logo.png" class="logo" alt="Pet shop logo" title="Pet shop logo"></a>
        </div>

        <div class="nav">
            <ul>
                <li><a href="index.html" target="_parent">Naslovna</a></li>
                <li><a href="productCategories.html" target="_parent">Kategorije</a></li>
                <li><a href="products.html" target="_parent">Proizvodi</a></li>
                <li><a href="about.html" target="_parent">O nama</a></li>
                <li><a href="blog.html" target="_parent">Blog</a></li>
                <li><a href="contact.html" target="_parent">Kontakt</a></li>
            </ul>
        </div>
    </div>
</section>
